* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.body{
    background-color: rgb(201, 201, 201);
}
.titulo-principal{
    font-size: 250%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top: 2%;
    
}
.header{
    background-color: rgb(241, 218, 142);
}
.logo-biblioteca{
    float: left;
    margin-left: 12%;
    margin-top: 2%;

}
.logo-ayuntamiento{
    float: right;
    margin-right: 12%;
    margin-top: 2%;
}
.menu{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    padding-bottom: 1%;
    text-decoration: none;
}
.menu a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.menu a:hover {
    background-color: #ffffff; 
}
.menu li{
    text-align:center;
    margin-right: 5%;
}
.footer{
    margin-top: 100%;
    margin-bottom: 0%;
    display: flex;
    align-content:center;
    list-style-type: none; 
    display: flex;
    align-items: center;
}
.imagen-inicio{
    text-align:center;
    margin-top: 3%;
}
.texto-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    background-color: rgb(0, 0, 0);
    padding: 10px;
}
.boton-arriba{
    margin-top: 50%;
    margin-left: 50%;
    position: fixed;
}
.flecha-arriba{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 100px;
}
.articulo-inicio{
    text-align: center;
    align-content: center;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: rgb(241, 218, 142);
}
footer a{
    text-decoration: none;
    padding: 2%;
    color: black;
}