* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family:'Fuente.1';
    src: url(/fonts/PTSansCaption-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Fuente.2';
    src: url('/fonts/Notably\ Absent\ DEMO.ttf') format('truetype'); 
}

@font-face {
    font-family: 'Fuente';
    src: url('/fonts/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf') format('truetype'); 
}
   
body{
    background-color: rgb(255, 213, 136);
    
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(201, 201, 201);
    padding: 20px;
}
.titulo-principal{
    font-size: 60px;
    font-family: 'Fuente', sans-serif;
    text-align: center;
    padding-top: 2%;
    filter: drop-shadow(
        0 0 10px rgba(0,0,0,.4)
    )
}
.topnav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.menu{
    margin-left: 12%;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-items: center
}
.topnav a{
    color: aliceblue;
    text-align: center;
    padding: 16px 38px;
    text-decoration: none;
    font-size: 22px;
    border-radius: 1%;
    font-family: "Fuente.2", sans-serif;
    margin: 0 15px;
}
/* cambio de color de los enlaces al pasar el raton encima de ellos*/
.topnav a:hover{
    background-color: rgb(159, 159, 159);
    color: black;
    transition: color 0.3s, border-color 0.3s; 
}
/* agregar un color al enlace activo/ actual*/
.topnav a.active{
    background-color: darkgrey;
    color: white;
}
.perfil{
    margin-left: auto;
    color: aliceblue;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0;
}
.logo-usuario {
    width: 33px;
    margin-left: auto;
    padding: 0;
    margin: 0;
}

    .logo-biblioteca{
        width: 140px;
        height: auto;
        margin: 0 60px;
        max-width: fit-content;
        filter: drop-shadow(
            0 0 10px rgba(0,0,0,.4)
        )
    }
    .logo-ayuntamiento{
        width: 100px;
        height: auto;
        margin: 0 60px;
        border-radius: 4%;
        max-width: fit-content;
        filter: drop-shadow(
            0 0 10px rgba(0,0,0,.4)
        )
    }

    .formulario{
        margin-left:37% ;
        width: 400px;
        background-color:#f0f0f0;
        border-radius: 5%;

    }

    form{   
        /*centrar el formulario*/
        width: 400px;
        padding: 30px;
        text-align: center;
        font-size: 23px;
        font-family: "fuente.1";
        font-weight: bold ;
        border-radius: 20px;
        
    }
    /*titulo formulario*/
.formulario h2{
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
    font-family: "fuente.1";
}
input,
textarea{
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
}
.biblioteca{
    width: 50%;
    position: relative;
    height: auto;
    margin-left: 36%;
}
.flecha-arriba{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 70px;
    filter: drop-shadow(
        0 0 10px rgba(0,0,0,.4)
    )
}
footer {
    bottom: 0;       
    left: 0;
    width: 80%;
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding: 1%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   margin: auto;
}
footer a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "Fuente.2", sans-serif;
    padding: 16px 38px;
    font-size: 22px;
}
footer a:hover{
    background-color: rgb(159, 159, 159);
    color: black;
    border-radius: 1%;
    padding: 1%;
    transition: color 0.3s, border-color 0.3s; 
    padding: 12px 38px;
}
.boton{
    font-family: "fuente.1";
padding: 5px;
background-color: paleturquoise;
border-radius: 10px;
}

